.contact-container{
    padding: 10px;
    display: flex;
}
h6{
    text-align: center;
}
.contact-left{
    width: 50%;
    padding: 15px;
}
.contact-icon{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
 .contact-container{
    /* background-color: black; */
    padding: 10px;
    display: inline;
 }
 .contact-left{
    width: 100%;
    padding: 10px;
}
}