/* General Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(37, 55, 161);
    color: #fff;
  }
  
  .navbar-logo {
    width: 150px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 15px 1rem;

  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .navbar .btn{
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    background-color: white;
  }
  
  
  /* Mobile Menu Button */
  .mobile-menu-icon {
    display: none;
    font-size: 1.5rem;
    background:  rgb(37, 55, 161);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      left: 200px;
      background-color:  rgb(37, 57, 168);
      height: calc(100vh - 200px);
      align-items: center;
      justify-content: center;
      z-index: 3;
    }
  
    .nav-links-mobile li {
      margin: 1rem 0;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  }
  